# Core ML libraries
torch
transformers==4.50.0 # this seems to be more stable?
peft
datasets
accelerate
huggingface_hub
flash-attention
sentencepiece

# Training and optimization
bitsandbytes
scipy
scikit-learn

# Data processing
pandas
numpy
tqdm

# Evaluation and monitoring
wandb
tensorboard
rouge-score
sacrebleu

# Utilities
python-dotenv
rich
typer